.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login{
  background-image: url("https://pbs.twimg.com/media/DUfmDKMWAAEUglB.jpg:large");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%;
}

@keyframes animationTransition{
  20%{
    letter-spacing: 25px;
  }
  75%{
    letter-spacing: 8px;
  }
}

.Transition{
  display: none;
  position: relative;
  text-align: center;
  vertical-align: middle;
  horizontal-align: middle;
  font-size: 25px;
  animation-name: animationTransition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.createProfile{
  display: inline;
}